// Fonts
@font-face {
  font-family: 'MuseoSans';
  src:  url('../fonts/museosans/MuseoSans-Light.otf');
  font-weight: lighter;
}
@font-face {
  font-family: 'MuseoSans';
  src:  url('../fonts/museosans/MuseoSans-Regular.otf');
  font-weight: normal;
}
@font-face {
  font-family: 'MuseoSans';
  src:  url('../fonts/museosans/MuseoSans-Bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'OpenSans';
  src:  url('../fonts/opensans/OpenSans-Light.ttf');
  font-weight: lighter;
}
@font-face {
  font-family: 'OpenSans';
  src:  url('../fonts/opensans/OpenSans-Regular.ttf');
  font-weight: normal;
}
@font-face {
  font-family: 'OpenSans';
  src:  url('../fonts/opensans/OpenSans-SemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'OpenSans';
  src:  url('../fonts/opensans/OpenSans-Bold.ttf');
  font-weight: bold;
}

// GRIDS
$value_col: 8.33%;
$tablet: 992px;
$mobile: 600px;

.row {
  display: block;
  width: 100%;
  .col{display: inline-block; margin-right: -4px;padding: 2px 4px;box-sizing: border-box;}
  .l1{width: $value_col * 1}
  .l2{width: $value_col * 2}
  .l3{width: $value_col * 3}
  .l4{width: $value_col * 4}
  .l5{width: $value_col * 5}
  .l6{width: $value_col * 6}
  .l7{width: $value_col * 7}
  .l8{width: $value_col * 8}
  .l9{width: $value_col * 9}
  .l10{width: $value_col * 10}
  .l11{width: $value_col * 11}
  .l12{width: $value_col * 12}
  @media (max-width: $tablet) 
  {
    .m1{width: $value_col * 1}
    .m2{width: $value_col * 2}
    .m3{width: $value_col * 3}
    .m4{width: $value_col * 4}
    .m5{width: $value_col * 5}
    .m6{width: $value_col * 6}
    .m7{width: $value_col * 7}
    .m8{width: $value_col * 8}
    .m9{width: $value_col * 9}
    .m10{width: $value_col * 10}
    .m11{width: $value_col * 11}
    .m12{width: $value_col * 12}
  }
  @media (max-width: $mobile) 
  {
    .s1{width: $value_col * 1}
    .s2{width: $value_col * 2}
    .s3{width: $value_col * 3}
    .s4{width: $value_col * 4}
    .s5{width: $value_col * 5}
    .s6{width: $value_col * 6}
    .s7{width: $value_col * 7}
    .s8{width: $value_col * 8}
    .s9{width: $value_col * 9}
    .s10{width: $value_col * 10}
    .s11{width: $value_col * 11}
    .s12{width: $value_col * 12}
  }
}

// Container
.container {
  position: relative;
  max-width: 80%;
  margin: 0 auto;
  @media (max-width: $tablet) 
  {
    max-width: 85%;
  }
  @media (max-width: $mobile) 
  {
    max-width: 95%;
  }
}

// Text
.text-center {text-align: center;}
.text-right {text-align: right;}
.text-left {text-align: left;}

// Position
.float-right {float: right;}
.float-left {float: left;}

// Diaplay
.display-none {display: none;}
.display-block {display: block;}
.display-i-block {display: inline-block;}

// Default
html {font-size: 14px;}
body {
  min-height: 100%;
  font-size: 1em;
  font-family: 'MuseoSans';
  color: #5b6172;
  margin: 0 auto;
  padding-top: 80px;
}
a, p {
  font-family: 'OpenSans';
  font-weight: normal;
}
a {
  text-decoration: none;
  color: #575656;
}
ul {
  margin: 0;
  list-style-type: none;
}
img {
  max-width: 100%;
}
