// HELPER CSS
@import "helper";

// VARIABLES
$bgColor: #f1f2f5;
$defaultColor: #5bc0c3;
$textColor: #5dbfbd;
$iconColor: #53c0d6;
$fullColor: #5fc0c3;

// DRY
.node-readmore a,
.btn-opac {
  color: $defaultColor;
  border: 1px solid $defaultColor;
  border-radius: 2px;
}
.region-content [id^="block-block"] {
  padding: 30px 0;
}
.sufix {
  font-size: 0.6em;
  position: relative;
  top: -7px;
}

// Header Custom Styles
#header {
  position: fixed;
  top: 0;
  z-index: 9;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 4px #999;
  padding: 25px 0;
  #logo img {
    max-width: 160px;
    width: 100%;
  }
  .region-header {
    display: inline-block;
    float: right;
    li {
      float: right;
      padding-left: 15px;
      a {
        font-size: 14px;
        text-transform: uppercase;
        padding: 12px 25px;
      }
    }
    #navbar {
      @media (max-width: $mobile) 
      {
        display: none;
      }
    }
    #active_mobile {
      display: none;
      @media (max-width: $mobile) 
      {
        display: inline-block;
      }
    }
    #navbar_mobile {
      opacity: 0;
      box-shadow: 0 0 4px #999;
      transition: 0.5s linear;
      position: absolute;
      right: -300%;
      top: 55px;
      background-color: #fff;
      padding: 15px;
      text-align: right;
      width: 110%;
      z-index: 9;
      &.active {
        opacity: 1;
        right: -15px;
      }
      a {
        font-size: 12px;
        padding: 0;
        padding: 5px;
      }
    }
  }
}

// Content Custom Styles
.block {
  h2 {
    font-size: 26px;
    text-transform: uppercase;
    color: #575656;
    font-weight: normal;
  }
}

#block-block-2 {
  background-image: url(../images/hero.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  color: #fff;
  padding: 60px 0;
  h1 {
    text-transform: uppercase;
    font-size: 55px;
    margin-bottom: 0;
  }
  h3 {
    font-size: 17px;
    padding: 35px 0;
  }
  h3, p {
    max-width: 600px;  
    margin: auto;
  }
  * {
    font-weight: lighter;
  }
}

#block-block-6 {
  background-color: $bgColor;
  color: #575656;
  a {
    background-color: $fullColor;
    color: #fff;
    padding: 15px 20px;
    border-radius: 2px;
    text-transform: uppercase;
    float: right;
  }
  .row {
    .col {
      font-size: 14px;
      &:first-child {
        font-size: 18px;
        .title {
          color: $textColor;
        }
        .text {
          span {
            font-family: "OpenSans";
            font-weight: 600;
          }
        }
      }
    }
  }
}

#block-block-7 {
  img {
    max-width: 160px;
    max-height: 140px;
  }
  h3 {
    margin: 25px 0 0 0;
  }
  .text {
    padding: 22px;
    margin: 0;
  }
  .btn-opac {
    padding: 12px 60px;
  }
}

#block-block-8 {
  background-color: $bgColor;
  .col {
    padding: 0 30px;
    img {
      max-width: 80px;
      max-height: 80px;
      border-radius: 50%;
      border: 12px solid #fff;
    }
    h3 {
      color: $textColor;
      font-weight: lighter;
    }
    div {
      padding: 45px 20px 35px 20px;
      background-color: #fff;
      margin-top: -70px;
      border-radius: 4px;
    }
  }
}

#block-block-9 {
  background-color: $bgColor;
  .container {
    border-top: 1px solid #d9dadd;
    h2 {
      margin: 40px 0 50px 0;
    }
    .lSSlideWrapper {
      ul {
        li {
          width: 20%;
          height: 100px;
          text-align: center;
          img {
            vertical-align: middle;
            max-height: 100px;
            max-width: 160px;
          }
        }
      }
    }
  }
}

#block-block-10 {
  .row {
    padding: 0;
    .col {
      padding: 0 30px;
      .title {
        color: $textColor;
      }
      .text {
        border: 1px solid #f1f2f5;
        border-right-width: 0;
        border-left-width: 0;
      }
    }
  }
  .lSPrev, .lSNext {
    color: $fullColor;
    font-size: 35px;
    opacity: 1;
    margin-top: -30px;
  }
  .lSPrev {
    margin-left: -45px;
    @media (max-width: $mobile) 
    {
      margin-left: -20px;
    }
  }
  .lSNext {
    margin-right: -45px;
    @media (max-width: $mobile) 
    {
      margin-right: -30px;
    }
  }
}

#block-block-11 {
  @media (max-width: $mobile) 
  {
    display: none;
  }
}

// Right Bar Custom Styles
#right_bar {
  vertical-align: top;
}

// View Blog Custom Styles
.view-blog {
  .content {
    margin-bottom: 30px;
    .field-label, .field-items {
      display: inline-block;
    }
  }
  h2 {
    a {
      color: $textColor;
    }
  }
  .submitted {
    color: #999;
  }
  .node-readmore  {
      margin-top: 15px;
    a {
      padding: 11px 25px;
    }
  }
}

// Footer Custom Styles
#footer {
  background-color: #454850;
  color: #979eb1;

  #block-block-3 {
    border-bottom: 1px solid #4e5159;
    padding: 27px 0;
    i {
      font-size: 18px;
      transition: 0.5s;
      margin-right: 15px;
    }
  }

  #block-block-4 { 
    padding: 22px 0;
  }

  a {
    color: $defaultColor;
  }
}

