@font-face {
  font-family: 'MuseoSans';
  src: url("../fonts/museosans/MuseoSans-Light.otf");
  font-weight: lighter;
}
@font-face {
  font-family: 'MuseoSans';
  src: url("../fonts/museosans/MuseoSans-Regular.otf");
  font-weight: normal;
}
@font-face {
  font-family: 'MuseoSans';
  src: url("../fonts/museosans/MuseoSans-Bold.otf");
  font-weight: bold;
}
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/opensans/OpenSans-Light.ttf");
  font-weight: lighter;
}
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/opensans/OpenSans-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/opensans/OpenSans-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/opensans/OpenSans-Bold.ttf");
  font-weight: bold;
}
/* line 44, ../sass/helper.scss */
.row {
  display: block;
  width: 100%;
}
/* line 47, ../sass/helper.scss */
.row .col {
  display: inline-block;
  margin-right: -4px;
  padding: 2px 4px;
  box-sizing: border-box;
}
/* line 48, ../sass/helper.scss */
.row .l1 {
  width: 8.33%;
}
/* line 49, ../sass/helper.scss */
.row .l2 {
  width: 16.66%;
}
/* line 50, ../sass/helper.scss */
.row .l3 {
  width: 24.99%;
}
/* line 51, ../sass/helper.scss */
.row .l4 {
  width: 33.32%;
}
/* line 52, ../sass/helper.scss */
.row .l5 {
  width: 41.65%;
}
/* line 53, ../sass/helper.scss */
.row .l6 {
  width: 49.98%;
}
/* line 54, ../sass/helper.scss */
.row .l7 {
  width: 58.31%;
}
/* line 55, ../sass/helper.scss */
.row .l8 {
  width: 66.64%;
}
/* line 56, ../sass/helper.scss */
.row .l9 {
  width: 74.97%;
}
/* line 57, ../sass/helper.scss */
.row .l10 {
  width: 83.3%;
}
/* line 58, ../sass/helper.scss */
.row .l11 {
  width: 91.63%;
}
/* line 59, ../sass/helper.scss */
.row .l12 {
  width: 99.96%;
}
@media (max-width: 992px) {
  /* line 62, ../sass/helper.scss */
  .row .m1 {
    width: 8.33%;
  }
  /* line 63, ../sass/helper.scss */
  .row .m2 {
    width: 16.66%;
  }
  /* line 64, ../sass/helper.scss */
  .row .m3 {
    width: 24.99%;
  }
  /* line 65, ../sass/helper.scss */
  .row .m4 {
    width: 33.32%;
  }
  /* line 66, ../sass/helper.scss */
  .row .m5 {
    width: 41.65%;
  }
  /* line 67, ../sass/helper.scss */
  .row .m6 {
    width: 49.98%;
  }
  /* line 68, ../sass/helper.scss */
  .row .m7 {
    width: 58.31%;
  }
  /* line 69, ../sass/helper.scss */
  .row .m8 {
    width: 66.64%;
  }
  /* line 70, ../sass/helper.scss */
  .row .m9 {
    width: 74.97%;
  }
  /* line 71, ../sass/helper.scss */
  .row .m10 {
    width: 83.3%;
  }
  /* line 72, ../sass/helper.scss */
  .row .m11 {
    width: 91.63%;
  }
  /* line 73, ../sass/helper.scss */
  .row .m12 {
    width: 99.96%;
  }
}
@media (max-width: 600px) {
  /* line 77, ../sass/helper.scss */
  .row .s1 {
    width: 8.33%;
  }
  /* line 78, ../sass/helper.scss */
  .row .s2 {
    width: 16.66%;
  }
  /* line 79, ../sass/helper.scss */
  .row .s3 {
    width: 24.99%;
  }
  /* line 80, ../sass/helper.scss */
  .row .s4 {
    width: 33.32%;
  }
  /* line 81, ../sass/helper.scss */
  .row .s5 {
    width: 41.65%;
  }
  /* line 82, ../sass/helper.scss */
  .row .s6 {
    width: 49.98%;
  }
  /* line 83, ../sass/helper.scss */
  .row .s7 {
    width: 58.31%;
  }
  /* line 84, ../sass/helper.scss */
  .row .s8 {
    width: 66.64%;
  }
  /* line 85, ../sass/helper.scss */
  .row .s9 {
    width: 74.97%;
  }
  /* line 86, ../sass/helper.scss */
  .row .s10 {
    width: 83.3%;
  }
  /* line 87, ../sass/helper.scss */
  .row .s11 {
    width: 91.63%;
  }
  /* line 88, ../sass/helper.scss */
  .row .s12 {
    width: 99.96%;
  }
}

/* line 93, ../sass/helper.scss */
.container {
  position: relative;
  max-width: 80%;
  margin: 0 auto;
}
@media (max-width: 992px) {
  /* line 93, ../sass/helper.scss */
  .container {
    max-width: 85%;
  }
}
@media (max-width: 600px) {
  /* line 93, ../sass/helper.scss */
  .container {
    max-width: 95%;
  }
}

/* line 108, ../sass/helper.scss */
.text-center {
  text-align: center;
}

/* line 109, ../sass/helper.scss */
.text-right {
  text-align: right;
}

/* line 110, ../sass/helper.scss */
.text-left {
  text-align: left;
}

/* line 113, ../sass/helper.scss */
.float-right {
  float: right;
}

/* line 114, ../sass/helper.scss */
.float-left {
  float: left;
}

/* line 117, ../sass/helper.scss */
.display-none {
  display: none;
}

/* line 118, ../sass/helper.scss */
.display-block {
  display: block;
}

/* line 119, ../sass/helper.scss */
.display-i-block {
  display: inline-block;
}

/* line 122, ../sass/helper.scss */
html {
  font-size: 14px;
}

/* line 123, ../sass/helper.scss */
body {
  min-height: 100%;
  font-size: 1em;
  font-family: 'MuseoSans';
  color: #5b6172;
  margin: 0 auto;
  padding-top: 80px;
}

/* line 131, ../sass/helper.scss */
a, p {
  font-family: 'OpenSans';
  font-weight: normal;
}

/* line 135, ../sass/helper.scss */
a {
  text-decoration: none;
  color: #575656;
}

/* line 139, ../sass/helper.scss */
ul {
  margin: 0;
  list-style-type: none;
}

/* line 143, ../sass/helper.scss */
img {
  max-width: 100%;
}

/* line 12, ../sass/main.scss */
.node-readmore a,
.btn-opac {
  color: #5bc0c3;
  border: 1px solid #5bc0c3;
  border-radius: 2px;
}

/* line 18, ../sass/main.scss */
.region-content [id^="block-block"] {
  padding: 30px 0;
}

/* line 21, ../sass/main.scss */
.sufix {
  font-size: 0.6em;
  position: relative;
  top: -7px;
}

/* line 28, ../sass/main.scss */
#header {
  position: fixed;
  top: 0;
  z-index: 9;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 4px #999;
  padding: 25px 0;
}
/* line 36, ../sass/main.scss */
#header #logo img {
  max-width: 160px;
  width: 100%;
}
/* line 40, ../sass/main.scss */
#header .region-header {
  display: inline-block;
  float: right;
}
/* line 43, ../sass/main.scss */
#header .region-header li {
  float: right;
  padding-left: 15px;
}
/* line 46, ../sass/main.scss */
#header .region-header li a {
  font-size: 14px;
  text-transform: uppercase;
  padding: 12px 25px;
}
@media (max-width: 600px) {
  /* line 52, ../sass/main.scss */
  #header .region-header #navbar {
    display: none;
  }
}
/* line 58, ../sass/main.scss */
#header .region-header #active_mobile {
  display: none;
}
@media (max-width: 600px) {
  /* line 58, ../sass/main.scss */
  #header .region-header #active_mobile {
    display: inline-block;
  }
}
/* line 65, ../sass/main.scss */
#header .region-header #navbar_mobile {
  opacity: 0;
  box-shadow: 0 0 4px #999;
  transition: 0.5s linear;
  position: absolute;
  right: -300%;
  top: 55px;
  background-color: #fff;
  padding: 15px;
  text-align: right;
  width: 110%;
  z-index: 9;
}
/* line 77, ../sass/main.scss */
#header .region-header #navbar_mobile.active {
  opacity: 1;
  right: -15px;
}
/* line 81, ../sass/main.scss */
#header .region-header #navbar_mobile a {
  font-size: 12px;
  padding: 0;
  padding: 5px;
}

/* line 92, ../sass/main.scss */
.block h2 {
  font-size: 26px;
  text-transform: uppercase;
  color: #575656;
  font-weight: normal;
}

/* line 100, ../sass/main.scss */
#block-block-2 {
  background-image: url(../images/hero.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  color: #fff;
  padding: 60px 0;
}
/* line 107, ../sass/main.scss */
#block-block-2 h1 {
  text-transform: uppercase;
  font-size: 55px;
  margin-bottom: 0;
}
/* line 112, ../sass/main.scss */
#block-block-2 h3 {
  font-size: 17px;
  padding: 35px 0;
}
/* line 116, ../sass/main.scss */
#block-block-2 h3, #block-block-2 p {
  max-width: 600px;
  margin: auto;
}
/* line 120, ../sass/main.scss */
#block-block-2 * {
  font-weight: lighter;
}

/* line 125, ../sass/main.scss */
#block-block-6 {
  background-color: #f1f2f5;
  color: #575656;
}
/* line 128, ../sass/main.scss */
#block-block-6 a {
  background-color: #5fc0c3;
  color: #fff;
  padding: 15px 20px;
  border-radius: 2px;
  text-transform: uppercase;
  float: right;
}
/* line 137, ../sass/main.scss */
#block-block-6 .row .col {
  font-size: 14px;
}
/* line 139, ../sass/main.scss */
#block-block-6 .row .col:first-child {
  font-size: 18px;
}
/* line 141, ../sass/main.scss */
#block-block-6 .row .col:first-child .title {
  color: #5dbfbd;
}
/* line 145, ../sass/main.scss */
#block-block-6 .row .col:first-child .text span {
  font-family: "OpenSans";
  font-weight: 600;
}

/* line 156, ../sass/main.scss */
#block-block-7 img {
  max-width: 160px;
  max-height: 140px;
}
/* line 160, ../sass/main.scss */
#block-block-7 h3 {
  margin: 25px 0 0 0;
}
/* line 163, ../sass/main.scss */
#block-block-7 .text {
  padding: 22px;
  margin: 0;
}
/* line 167, ../sass/main.scss */
#block-block-7 .btn-opac {
  padding: 12px 60px;
}

/* line 172, ../sass/main.scss */
#block-block-8 {
  background-color: #f1f2f5;
}
/* line 174, ../sass/main.scss */
#block-block-8 .col {
  padding: 0 30px;
}
/* line 176, ../sass/main.scss */
#block-block-8 .col img {
  max-width: 80px;
  max-height: 80px;
  border-radius: 50%;
  border: 12px solid #fff;
}
/* line 182, ../sass/main.scss */
#block-block-8 .col h3 {
  color: #5dbfbd;
  font-weight: lighter;
}
/* line 186, ../sass/main.scss */
#block-block-8 .col div {
  padding: 45px 20px 35px 20px;
  background-color: #fff;
  margin-top: -70px;
  border-radius: 4px;
}

/* line 195, ../sass/main.scss */
#block-block-9 {
  background-color: #f1f2f5;
}
/* line 197, ../sass/main.scss */
#block-block-9 .container {
  border-top: 1px solid #d9dadd;
}
/* line 199, ../sass/main.scss */
#block-block-9 .container h2 {
  margin: 40px 0 50px 0;
}
/* line 204, ../sass/main.scss */
#block-block-9 .container .lSSlideWrapper ul li {
  width: 20%;
  height: 100px;
  text-align: center;
}
/* line 208, ../sass/main.scss */
#block-block-9 .container .lSSlideWrapper ul li img {
  vertical-align: middle;
  max-height: 100px;
  max-width: 160px;
}

/* line 220, ../sass/main.scss */
#block-block-10 .row {
  padding: 0;
}
/* line 222, ../sass/main.scss */
#block-block-10 .row .col {
  padding: 0 30px;
}
/* line 224, ../sass/main.scss */
#block-block-10 .row .col .title {
  color: #5dbfbd;
}
/* line 227, ../sass/main.scss */
#block-block-10 .row .col .text {
  border: 1px solid #f1f2f5;
  border-right-width: 0;
  border-left-width: 0;
}
/* line 234, ../sass/main.scss */
#block-block-10 .lSPrev, #block-block-10 .lSNext {
  color: #5fc0c3;
  font-size: 35px;
  opacity: 1;
  margin-top: -30px;
}
/* line 240, ../sass/main.scss */
#block-block-10 .lSPrev {
  margin-left: -45px;
}
@media (max-width: 600px) {
  /* line 240, ../sass/main.scss */
  #block-block-10 .lSPrev {
    margin-left: -20px;
  }
}
/* line 247, ../sass/main.scss */
#block-block-10 .lSNext {
  margin-right: -45px;
}
@media (max-width: 600px) {
  /* line 247, ../sass/main.scss */
  #block-block-10 .lSNext {
    margin-right: -30px;
  }
}

@media (max-width: 600px) {
  /* line 256, ../sass/main.scss */
  #block-block-11 {
    display: none;
  }
}

/* line 264, ../sass/main.scss */
#right_bar {
  vertical-align: top;
}

/* line 270, ../sass/main.scss */
.view-blog .content {
  margin-bottom: 30px;
}
/* line 272, ../sass/main.scss */
.view-blog .content .field-label, .view-blog .content .field-items {
  display: inline-block;
}
/* line 277, ../sass/main.scss */
.view-blog h2 a {
  color: #5dbfbd;
}
/* line 281, ../sass/main.scss */
.view-blog .submitted {
  color: #999;
}
/* line 284, ../sass/main.scss */
.view-blog .node-readmore {
  margin-top: 15px;
}
/* line 286, ../sass/main.scss */
.view-blog .node-readmore a {
  padding: 11px 25px;
}

/* line 293, ../sass/main.scss */
#footer {
  background-color: #454850;
  color: #979eb1;
}
/* line 297, ../sass/main.scss */
#footer #block-block-3 {
  border-bottom: 1px solid #4e5159;
  padding: 27px 0;
}
/* line 300, ../sass/main.scss */
#footer #block-block-3 i {
  font-size: 18px;
  transition: 0.5s;
  margin-right: 15px;
}
/* line 307, ../sass/main.scss */
#footer #block-block-4 {
  padding: 22px 0;
}
/* line 311, ../sass/main.scss */
#footer a {
  color: #5bc0c3;
}
