<div class="row">
<div class="col s12 m4 l4">
<p class="rtecenter"><img alt="" src="sites/all/themes/custom/opencharity/assets/images/meetup.png" /></p>

<h3 class="rtecenter">WE DO MEETINGS</h3>

<p class="rtecenter text">We organise our meetings through the OpenCharity MeetUp group</p>

<p class="rtecenter"><a class="btn-opac" target="_blank" href="https://www.meetup.com/pt-BR/Open-Charity/">Meetup Group</a></p>

</div>

<div class="col s12 m4 l4">
<p class="rtecenter"><img alt="" src="sites/all/themes/custom/opencharity/assets/images/slack.png" /></p>

<h3 class="rtecenter">WE COLLABORATE</h3>

<p class="rtecenter text">OpenCharity have a slack group for daily collaboration</p>

<p class="rtecenter"><a class="btn-opac" target="_blank" href="https://opencharityorg.slack.com/">Meetup Group</a></p>

</div>

<div class="col s12 m4 l4">
<p class="rtecenter"><img alt="" src="sites/all/themes/custom/opencharity/assets/images/share.png" /></p>

<h3 class="rtecenter">WE SHARE</h3>

<p class="rtecenter text">We have a Wiki where we share tools, code and knowledge</p>

<p class="rtecenter"><a class="btn-opac" target="_blank" href="http://wiki.opencharityuk.org/">Meetup Group</a></p>

</div>
</div>
