<ul>
  <li><img alt="" src="sites/all/themes/custom/opencharity/assets/images/member_1.png" /></li>
  <li><img alt="" src="sites/all/themes/custom/opencharity/assets/images/member_2.png" /></li>
  <li><img alt="" src="sites/all/themes/custom/opencharity/assets/images/member_3.png" /></li>
  <li><img alt="" src="sites/all/themes/custom/opencharity/assets/images/member_4.png" /></li>
  <li><img alt="" src="sites/all/themes/custom/opencharity/assets/images/member_5.png" /></li>
  <li><img alt="" src="sites/all/themes/custom/opencharity/assets/images/member_4_2.png" /></li>
  <li><img alt="" src="sites/all/themes/custom/opencharity/assets/images/member_5_2.png" /></li>
</ul>
