<p class="rtecenter">Charities and Partners collaborating and sharing open solutions and ideas to create value in the digital space.</p>

<p class="rtecenter">If you are a charity or a supplier, we are ready to welcome you.</p>

<div class="row">
  <div class="col s12 m4 l4">
    <p class="rtecenter"><img alt="" src="sites/all/themes/custom/opencharity/assets/images/bulb-alt.png" style="height:160px; width:160px" /></p>
    <div>
      <h3 class="rtecenter">We help charities</h3>

      <p class="rtecenter">share knowledge and working practive to make the best tecnology choices.</p>
    </div>
  </div>

  <div class="col s12 m4 l4">
    <p class="rtecenter"><img alt="" src="sites/all/themes/custom/opencharity/assets/images/together-alt.png" style="height:160px; width:160px" /></p>
    <div>
      <h3 class="rtecenter">We bring together</h3>

      <p class="rtecenter">charities and suppliers to the charity sector to share best practices.</p>
    </div>
  </div>

  <div class="col s12 m4 l4">
    <p class="rtecenter"><img alt="" src="sites/all/themes/custom/opencharity/assets/images/encourage-alt.png" style="height:160px; width:160px" /></p>

    <div>
      <h3 class="rtecenter">We encourage</h3>

      <p class="rtecenter">collaboration and innovation for the good of the charity sector.</p>
    </div>
  </div>
</div>
